//Colors

$background-blue-first: hsla(205, 100%, 16%, 1);
$background-blue-second: hsla(205, 46%, 37%, 1);
$black: hsla(0, 0%, 0%, 0.85);
$grey: hsla(223, 8%, 93%, 1);
$mustard: hsla(40, 100%, 46%, 1);
$white: hsla(0, 0%, 100%, 1);
